<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <system.diagnostics>

      <trace autoflush="false" indentsize="4">
        <listeners>
          <add name="TextListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />
          <remove name="Default" />
        </listeners>
      </trace>

      <switches>
        <add name="DataMessagesSwitch" value="1" />
        <add name="TraceLevelSwitch" value="4" />
      </switches>

    </system.diagnostics>
  
</configuration>